<!--The content below is only a placeholder and can be replaced.-->

<div class="page-header"> Rechnungs-Editor</div>

<div class="row">
  <div class="col-md-3">
    <app-sidebar [invoicelist]="invoicelist" (invoiceselected)="passinvoice($event)"></app-sidebar>

  </div>

  <div class="col-md-9 details">
    <app-details [invoicelist]="invoicelist" [currentinvoice]="currentitem"></app-details>
  </div>
</div>



