<div class="mymenu">
  <div class="row">
    <div class="col-md-3">RECHNUNGEN </div>
    <div class="col-md-1">
    <a href="#"><span class="glyphicon glyphicon-plus-sign " (click)="addinvoice()"></span></a>
    </div>
  </div>


  <div *ngFor="let item of invoicelist" class="list-group active" (click)="onselectinvoice(item)" >
    <a href="#" class="list-group-item row">
      <div class="col-md-5 item"  > {{item.customer_name}}</div>
      <div class="col-md-offset-2 col-md-2" >{{item.netsum}}&euro;</div>
      <div class="glyphicon glyphicon-menu-right col-md-offset-2 col-md-1"></div>
    </a>
  </div>
  <hr>

  <div class="row space">
    <div class="col-md-5 item">Netto</div>
    <div class="col-md-offset-2 col-md-4">{{totalnet}}&euro;</div>
  </div>
  <div class="row">
    <div class="col-md-5 item">Umst(19%)</div>
    <div class="col-md-offset-2 col-md-4">{{taxcost}}&euro;</div>
  </div>

  <div class="row">
    <div class="col-md-5 item">Brutto</div>
    <div class="col-md-offset-2 col-md-4">{{beftaxsum}}&euro;</div>

  </div>
</div>
<div class="row">
  <button type="button" class="btn btn-primary col-md-offset-1 col-md-4" (click)="import()">Import</button>
  <a class="btn btn-primary col-md-offset-1 col-md-4" title="Download JSON" [href]="downloadJsonHref" download="download.json" (click)="generateDownloadJsonUri()">Export</a>
</div>


