div {

  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 17px;
}
.list-group-item{
  border: none;
}
.mymenu{
margin-top: 20px;
  margin-bottom: 140px;
}
.glyphicon-plus-sign{
  font-size: 17px;
}
.item{
  font-weight: bold;
}
.glyphicon-menu-right{
  font-size: 12px;
}
