<div class="mycontainer">
  <div class="row first">
    <form class="form-horizontal col-md-offset-1 col-md-4">
      <div class="form-group">
        <legend>ALLGEMEINE DATEN</legend>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="text" class="col-md-4 control-label">Kundennr: </label>
          <div class="col-md-8">
            <input type="text" [(ngModel)]="currentinvoice.customer_id"  [ngModelOptions]="{standalone: true}" class="form-control"   id="text" >

          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">Name: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.customer_name"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">Ansprechpartner: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.customer_contact_person"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">Anschrift: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.customer_adress"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">PLZ: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.customer_zip"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">Ort: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.customer_city"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
    </form>


    <form class="form-horizontal col-md-offset-1 col-md-4">
      <div class="form-group">
        <legend>ZAHLUNGSINFORMATIONEN</legend>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="text" class="col-md-4 control-label">IBAN: </label>
          <div class="col-md-8">
            <input type="text" [(ngModel)]="currentinvoice.iban"  [ngModelOptions]="{standalone: true}" class="form-control" id="text">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">BIC: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.bic"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">Kontoinhaber: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.account_owner"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">Mandatsreferenz: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.mandate_reference"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">Mandat Ort: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.mandate_city"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">Mandat Datum: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.mandate_date"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="textarea" class="col-md-4 control-label">Mandat Person: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.mandate_signee"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="row two">
    <form class="form-horizontal col-md-offset-1 col-md-11">
      <div class="form-group">
        <legend>RECHNUNGSDATEN</legend>
      </div>


      <div class="row">
        <div class="form-group col-md-offset-1 col-md-5">
          <label for="text" class="col-md-4 control-label">Rechnungsnr: </label>
          <div class="col-md-8">
            <input type="text" [(ngModel)]="currentinvoice.invoice_number"  [ngModelOptions]="{standalone: true}" class="form-control" id="text">
          </div>
        </div>
        <div class="form-group col-md-offset-1 col-md-5">
          <label for="text" class="col-md-4 control-label">Rechnungsdatum: </label>
          <div class="col-md-8">
            <input [(ngModel)]="currentinvoice.invoice_date"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="text">
          </div>
        </div>

      </div>




      <div class="row">
        <div class="form-group col-md-offset-1 col-md-5">
          <label for="textarea" class="col-md-4 control-label">Zeitraum: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.invoice_period"   [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
        <div class="form-group col-md-offset-1 col-md-5">
          <label for="textarea" class="col-md-4 control-label">Fälligskeitdatum: </label>
          <div class="col-md-8">
            <input type="textarea" [(ngModel)]="currentinvoice.invoice_date"  [ngModelOptions]="{standalone: true}" class="form-control" id="textarea">
          </div>
        </div>
      </div>
    </form>
  </div>

  <app-itemlist [invoicelist]="invoicelist" [currentinvoice]="currentinvoice" ></app-itemlist>

</div>



