<div class="row">
  <div class="col-md-offset-1 ">

    <legend>RECHNUNGSPOSTEN</legend>


    <div class="row">
      <div class="col-md-1">Pos.</div>
      <div class="col-md-2">Name</div>
      <div class="col-md-4">Beschreibung</div>
      <div class="col-md-1">Anzahl</div>
      <div class="col-md-1">Einzeipreis</div>
      <div class="col-md-1">Summe</div>
    </div>



    <div class="row list" *ngFor="let item of currentinvoice.line_items">
      <div class="col-md-1 position">{{item.position}}</div>
      <input class="col-md-2" type="text" [(ngModel)]="item.name"  [ngModelOptions]="{standalone: true}">
      <textarea class="col-md-4" id="textarea"  [(ngModel)]="item.description"  [ngModelOptions]="{standalone: true}"></textarea>
      <input class="col-md-1" type="text" (input)="netcalculate(item)" [(ngModel)]="item.quantity"  [ngModelOptions]="{standalone: true}">
      <input class="col-md-1" type="text" (input)="netcalculate(item)" [(ngModel)]="item.price_cents"  [ngModelOptions]="{standalone: true}">
      <div class="col-md-1">{{item.summe}}&euro;</div>
      <a href="#list-items"> <div  class="glyphicon glyphicon-trash col-md-1" (click)="deleteitems(item)"></div></a>

    </div>



    <div class="row">
      <a href="#list-items"><div class="glyphicon glyphicon-plus-sign col-md-7" id="list-items" (click)="additems()"></div></a>
      <div class="col-md-5 ">
        <div class="row">
          <div class="col-md-3 strong ">Netto</div>
          <div class="col-md-offset-2 col-md-1">{{currentinvoice.netsum}}&euro;</div>
        </div>
        <div class="row">
          <div class="col-md-4 strong">Um -st(19%)</div>
          <div class="col-md-offset-1 col-md-1">{{taxcost}}&euro;</div>
        </div>
        <div class="row">
          <div class="col-md-3 strong">Brutto</div>
          <div class="col-md-offset-2 col-md-1">{{beftaxsum}}&euro;</div>
        </div>

      </div>


    </div>



  </div>




</div>

