input, textarea{
  margin-right: 5px;
}
.list{
  background-color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.glyphicon-plus-sign{
  font-size: 30px;
}
.position{
  font-size: 20px;

}
.strong{
  font-weight: bold;
}
